@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face{
	src: url("fonts/OlympiaDeco.ttf");
	font-family: "Olympia";
}

/*-----------------*/
:root{
	--header-height: 80px;
	--header-color: #fee;
	--section-even-color: #fff;
	--section-odd-color: #ECE8E8;
	--button-color: #00BFFF;
	--button-hover-color: #1E90FF;
	--button-action-color: #0081A6;
	--button-action-hover-color: #4065FF;
}

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: "Montserrat";
}

html{
	scroll-behavior: smooth;
	font-size: 62.5%;
/*	height: 100%;*/
}

html, body{
/*	width: 100%;*/
/*	height: 100%;*/
/*	overflow-x: hidden;*/
}


p{
	font-size: 1.8rem;
	line-height: 1.5;
}

a, button, input[type="submit"]{
	cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

.column-content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	row-gap: 40px;
}

.row-content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 60px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.popup-text{
	text-align: center;
	color: #eb4d4d;
}

header{
	height: var(--header-height);
	background: var(--header-color);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0 20px;
	gap: 20px;
	position: sticky;
	top: 0;
 left: 0;
	z-index: 90;

	.mb-header-title{
		display: none;
		font-size: 4rem;
		color: #000;

		span{
			display: block;
			font-size: 1.6rem;
		}
	}

	.row-content{
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		gap: 20px;
	}

	#header-logo{
		max-width: 300px;
		height: 100%;
		margin-left: -10px;
	}

	#header-logo img{
		height: 100%;
	}

	h1{
		font-size: 4rem;
	}

	h2{
		font-size: 1.6rem;
		color: #333;
	}

	nav{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-flex: 2;
		    -ms-flex-positive: 2;
		        flex-grow: 2;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
		gap: 20px;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		font-size: 1.6rem;
	}

	nav a{
		text-decoration: none;
		color: #333;
		padding: 20px 0;
		-webkit-transition:  0.5s;
		-o-transition:  0.5s;
		transition:  0.5s;
	}

	button[data-modal]{
		background: var(--button-color);
		border: none;
		padding: 10px 20px !important;
		border-radius: 25px;
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
		color: #fff;
		font-weight: 600;
		padding: 0;
		font-size: 1.6rem;
	}


	#mb-nav-menu{
		display: none;
		gap: 10px;
		width: 100%;
    height: 100%;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
		#mb-button-menu{
			width: 50px;
			height: 50px;
			border: none;
			background: transparent;
			font-size: 4rem;
		}

		.menu{
	    position: absolute;
      top: 100%;
	    right: 10px;
	    background: var(--header-color);
	    list-style: none;
	    text-align: center;
	    display: none;
	    -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
	            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
	    border-radius: 0 0 10px 10px;
	    z-index: 80;
		}

		.menu-item{
			padding: 10px 20px;
			font-size: 2rem;
			-webkit-transition: 0.5s;
			-o-transition: 0.5s;
			transition: 0.5s;
		}

		.menu-item:hover{
/*			background: #ffe8e8;*/
		}

		.menu-item:hover > a{
			color: blue;
		}

		.menu-link{
			text-decoration: none;
			color: #333;
		}

		#mb-button-modal-2{
			display: none;
		}
	}
}




/* ОКНО ЗАЯВКИ */
.scroll-lock{
	overflow: hidden;
}

dialog::-webkit-backdrop{
	background: rgba(0, 0, 0, 0.7);
	-webkit-backdrop-filter: blur(4px);
	        backdrop-filter: blur(4px);
}

dialog::backdrop{
	background: rgba(0, 0, 0, 0.7);
	-webkit-backdrop-filter: blur(4px);
	        backdrop-filter: blur(4px);
}

.modal{
	width: 85%;
/*	height: 85%;*/
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	background: url("../images/bg.svg") no-repeat center / cover;
	border-radius: 25px;
	border: none;
	z-index: 100;
	opacity: 1;	

	.modal-wrapper{
		padding: 80px 60px;
	}

	.row-content{
		height: 100%;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		gap: 30px;
	}
	
	.modal-content{
		-ms-flex-preferred-size: 60%;
		    flex-basis: 60%;
	}

	.modal-form{
		-ms-flex-preferred-size: 40%;
		    flex-basis: 40%;
	}	

	#modal-button-close{
		position: absolute;
		width: 40px;
		height: 40px;
		top: 5%;
		right: 2%;
		background: #333;
		color: #fff;
		border-radius: 50%;
		border: none;
		-webkit-transition: background 0.3s;
		-o-transition: background 0.3s;
		transition: background 0.3s;
		font-weight: bold;
	}

	#modal-button-close:hover{
		background: #000;
	}

	.modal-title{
		font-size: 4rem;
		font-weight: 800;
		line-height: normal;

		span{
			color: var(--button-hover-color);
		}
	}

	p{
		font-size: 1.8rem;
	}

	input, select{
		width: 100%;
		margin-bottom: 10px;
		padding: 20px;
		border: none;
		border-radius: 25px;
		resize: none;
		position: relative;
		outline: none;
		border: 2px solid #bdbdbd;
		font-size: 1.8rem;
	}

	input[type="submit"]{
		background: var(--button-color);
		color: #fff;
		-webkit-transition: background 0.5s;
		-o-transition: background 0.5s;
		transition: background 0.5s;
		font-size: 2rem;
		font-weight: 600;
		border: none;
	}

	input:focus{
		border-color: #bdbdbd;
		outline: 0;
		-webkit-box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
		        box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
	}

}


/*  ---------  */


main{
	position: relative;
}


#hero-section{
	position: relative;
	height: 20vh;
	min-height: calc(100vh - var(--header-height));
	padding: 0;
	background: url("../images/bg.svg") no-repeat center / cover;
	-webkit-animation: bg-sliding 10s infinite ease-in-out alternate;
	        animation: bg-sliding 10s infinite ease-in-out alternate;
	background-attachment: fixed;

	.row-content{
		height: 100%;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		gap: 0;
	}

	.hero-section-content{
		margin: 80px 4vw 0 10vw;
		padding-bottom: 100px;
		width: 50%;
	}

	h1{
		font-size: 3.2rem;
		margin: 0;
		text-align: left;
		color: #222;
		font-weight: 900;

		span{
			color: var(--button-hover-color);
		}
	}

	.hero-section-image{
		width: 50%;
		height: 100%;
		position: relative;
		overflow: hidden;

		ul{
			list-style: none;
			height: 100%;
			position: relative;
		}

		li{
			display: block;
			height: 100%;
			background: no-repeat center / cover;
			float: left;
			margin: 0;
			padding: 0;
		}
	}

	a{
		display: block;
		background: var(--button-color);
		padding: 15px 25px;
		border-radius: 25px;
		text-decoration: none;
		color: #fff;
		font-weight: 600;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
		text-align: center;
	}

	.hero-buttons{
		gap: 30px;
		font-size: 1.8rem;
	}
}


section{
	padding: 100px 10vw;
	position: relative;
	text-align: justify;

	h1{
		margin-bottom: 40px;
		text-align: center;
		font-size: 4.2rem;
	}

	h3{
		text-align: center;
	}
}

section:nth-child(odd){
	background: var(--section-odd-color);
}

section:nth-child(even){
	background: var(--section-even-color);
/*	background: url("../images/bg-section-2.svg") no-repeat center / cover;*/
}




/*  РАЗДЕЛ О НАС  */
#about-us{
	.about-us-description{
		padding-bottom: 40px;
		border-bottom: 1px solid #000;
	}

	.about-us-indicators{
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.about-us-indicators div{
		text-align: center;
		width: 200px;
	}

	.about-us-indicators div p:first-child{
		font-size: 3rem;
		font-weight: 600;
	}
}
/* ------- */



/*  РАЗДЕЛ КУРСОВ  */
#courses{
	.row-content{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		gap: 20px;
	}

	.courses{
		width: 30%;
		background: #fee;
		row-gap: 0;
		border-radius: 25px;
	/*	padding-bottom: 30px;*/
	}

	.courses-image{
		width: 100%;
		height: 200px;
		overflow: hidden;
		border-radius: 25px 25px 0 0;
	}

	.courses-info{
		padding: 30px;
	/*	text-align: center;*/
	}

	.courses-description{
	/*	padding: 30px;*/
		height: 300px;
		overflow: hidden;
		margin-bottom: 20px;
		position: relative;

		h2{
			font-size: 2rem;
			margin-bottom: 20px;
			text-align: center;
		}

		p{
			font-size: 1.6rem;
			text-align: justify;
		}
	}

	.courses-description:after{
		content: '';
		display: block;
		width: 100%;
		height: 100px;
		background: #000;
		position: absolute;
		bottom: 0;
		left: 0;
		background: -o-linear-gradient(bottom, rgba(255,238,238,1) 0%, rgba(255,255,255,0) 100%);
		background: -webkit-gradient(linear, left bottom, left top, from(rgba(255,238,238,1)), to(rgba(255,255,255,0)));
		background: linear-gradient(0deg, rgba(255,238,238,1) 0%, rgba(255,255,255,0) 100%);
	}

	.courses img{
		width:  100%;
		height: 100%;
		-o-object-fit: cover;
		   object-fit: cover;
	}

	.button-read-more, .button-action{
		cursor: pointer;
		padding: 10px 20px;
		border: none;
		border-radius: 10px;
		background: var(--button-color);
		color: #fff;
		font-weight: 600;
		font-size: 1.4rem;
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
		display: block;
		margin: auto;
		margin-bottom: 10px;
	}

	.button-action{
		margin-top: 10px;
		background: var(--button-hover-color);
	}


	/*	РАЗВЕРНУТОЕ ОПИСАНИЕ КУРСА  */
	.mb-full-description{
		.courses-description{
			height: auto;
		}

		.courses-description:after{
			display: none;
		}
	}

	.course-slider{
		display: none;
	}

	.full-description{
		width: 100% !important;
		-webkit-box-flex: 2;
		    -ms-flex-positive: 2;
		        flex-grow: 2;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-ordinal-group: 0;
		    -ms-flex-order: -1;
		        order: -1;
	/*	transition: 0.8s;*/

		/* -- ВАРИАНТ 1 */
		/*.courses-image{
			height: 100%;
			-ms-flex-preferred-size: 40%;
			    flex-basis: 40%;
			border-radius: 25px 0 0 25px;
		}*/

		/*  ВАРИАНТ 2 */
		.courses-image{
			height: 80%;
			-ms-flex-preferred-size: 500px;
			    flex-basis: 500px;
			border-radius: 25px;
			position: relative;
			top: 10%;
			left: -50px;
			-webkit-box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
			        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
		}

		.courses-image img{
			display: none;
		}

		.course-slider{
			width: 100%;
			height: 100%;
			display: block;
		}

		.courses-image ul{
			width: 100%;
			height: 100%;
			list-style: none;
			position: relative;

			li{
/*				width: 100%;*/
				height: 100%;
				background: no-repeat center / cover;
				display: block;
				float: left;
			}
		}

		.courses-info{
			-ms-flex-preferred-size: 60%;
			    flex-basis: 60%;
			padding-left: 0;
		}

		.courses-description{
			height: auto;
		}

		.courses-description:after{
			display: none;
		}
	}
}
/* ------------------ */



/* РАЗДЕЛ КОНТАКТОВ */
#contacts{
	padding: 0;

	.contacts-info{
		width: 50%;
		padding: 100px 0 100px 10vw;
		text-align: left;
		-webkit-hyphens: manual;
		    -ms-hyphens: manual;
		        hyphens: manual;

		h1{
			margin: 0;
		}

		img{
			display: block;
			width: 60px;
		}

		.row-content{
			-webkit-box-pack: start;
			    -ms-flex-pack: start;
			        justify-content: flex-start;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			gap: 30px;
		}
	}

	.contacts-map{
		width: 50%;
	}
}



/*  РАЗДЕЛ ОТЗЫВОВ  */
#reviews{
	.reviews-slider{
			padding: 20px;
	}

	.slick-prev, .slick-next{
		width: 50px;
		height: 50px;
	}

	.slick-prev{
		left: -20px;
	}

	.slick-next{
		right: -20px;
	}

	.slick-prev:before, .slick-next:before{
		color: #888;
		font-size: 30px;
	}

	.row-content{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		gap: 20px;
		width: 200%;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}

	.review{
		background: #fff9;
		position: relative;
		width: calc(90vw / 4);
		border-radius: 20px;
		-webkit-box-shadow: 0 0 10px #0001;
		        box-shadow: 0 0 10px #0001;
		margin: 20px;

		.review-author p{
			font-size: 2.2rem;
		}

		.review-author{
			padding: 40px;
			text-align: center;
			font-weight: 700;
			font-size: 22px;
			border-bottom: 1px dashed #888;
			position: relative;
		}
		
		.review-description{
			padding: 30px;
			text-align: left;
			position: relative;
		}

		.review-description p{
			font-size: 1.6rem;
		}

		.review-author:after, .review-description:after{
			content: '"';
			content: '\201E';
			font-family: "Olympia";
			font-size: 100px;
			position: absolute;
			bottom: -28px;
			font-weight: 1000;
			color: var(--button-color);
		}

		.review-author:after{
			left: 20px;
		}

		.review-description:after{
			right: 20px;
		}
	}
}
/* ------  */



/* ---------------- */

/*  ФОРМА ОБРАТНОЙ СВЯЗИ  */
#feedback{
	h2{
		text-align: center;
		font-size: 4.2rem;
		margin-bottom: 2rem;
	}

	h3{
		font-size: 2.4rem;
	}

	form{
		width: 500px;
		margin: auto;
		margin-top: 40px;
		background: #E3DDDD;
		padding: 50px;
		border-radius: 25px;
		position: relative;
		row-gap: 20px;
	}
 
	input, textarea{
		font-size: 1.8rem;
		padding: 20px;
		border: none;
		border-radius: 25px;
		resize: none;
		position: relative;
	}

	textarea{
		min-height: 100px;
	}

	textarea::-webkit-scrollbar{
		width: 10px;
		height: 60px;
		-webkit-transform: translateX(-10px);
		        transform: translateX(-10px);
	}

	textarea::-webkit-scrollbar-track{
		background: var(--button-color);
		border-radius: 5px;
	}

	textarea::-webkit-scrollbar-thumb{
		background: var(--button-hover-color);
		border-radius: 5px;
	}

	input:focus,
	textarea:focus {
		color: #212529;
		background-color: #fff;
		border-color: #bdbdbd;
		outline: 0;
		-webkit-box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
		        box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
	}

	input[type="submit"]{
		background: var(--button-color);
		color: #fff;
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
		font-size: 1.6rem;
	}
	
}
/*  --------------------- */


/*  ФУТЕР  */
footer{
	position: relative;
	padding: 50px 50px 20px;
	background: url("../images/bg.svg") no-repeat center / cover;

	p{
		font-size: 1.6rem;
	}

	.row-content{
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	.column-content{
		row-gap: 10px;
	}

	.footer-main-content{
		gap: 40px;
	}

	.footer-contacts{
		width: 40%;
		row-gap: 10px;
		-webkit-box-align: end;
		    -ms-flex-align: end;
		        align-items: flex-end;
		text-align: right;

		a{
			text-decoration: none;
			color: blue;
		}
	}


	#footer-logo{
		width: 20%;
		text-align: center;
		min-width: 100px;

		img{
			width: 100%;
			max-width: 140px;
			height: 100%;
			-o-object-fit: contain;
			   object-fit: contain;
		}
	}

	.footer-course{
		width: 40%;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;

		.footer-title{
			font-size: 2.4rem;
			font-weight: 800;
			line-height: normal;

			span{
				color: var(--button-hover-color);
			}
		}
	}

	button[data-modal]{
		background: var(--button-color);
		border: none;
		padding: 10px 20px !important;
		border-radius: 25px;
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
		color: #fff;
		font-weight: 600;
		padding: 0;
		font-size: 1.8rem;
	}

	#policy{
		gap: 0;
		margin-top: 40px;

		.row-content{
			gap: 20px;
		}

		p{
			font-size: 1.4rem;
			color: #444;
		}

		a{
			color: #999;
			text-decoration: none;
		}
	}
}


/*  ------  */
@media(hover: hover){
	input[type="submit"]:hover,
	button[data-modal]:hover,
	.hero-buttons a:hover,
	#courses .button-read-more:hover
	{
		background: var(--button-hover-color);
	}

	#courses .button-action:hover{
		background: var(--button-action-hover-color);
	}

	nav a:hover, .mb-nav-menu a:hover{
		color: blue;
	}
}

/*@media(hover: none) and (pointer: coarse){*/
@media(hover: none){
	input[type="submit"]:hover,
	button[data-modal]:hover,
	.hero-buttons a:hover,
	#courses .button-read-more:hover,
	#courses .button-action:hover
	{
		background: var(--button-color);
	}

	nav a:hover, .mb-nav-menu a:hover{
		color: #333;
	}
}



@-webkit-keyframes bg-sliding{
	from{
		background-position: center center;
	}

	to{
		background-position: 0 0;
	}
}

@keyframes bg-sliding{
	from{
		background-position: center center;
	}

	to{
		background-position: 0 0;
	}
}